<div class="detail-section" *ngIf="product.active==true">
    <div class="container-fluid">
      <img src="{{product.imageUrl}}" class="detail-img"/>
      <h3>{{product.name}}</h3>
      <div class="price">{{product.price | currency:'USD'}}</div>
      <button (click)="addToCart()" class="primary-btn btn-sm">Add to cart</button>

      <hr>
      <h4>Description</h4>
      <p>{{product.description}}</p>
      <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>
<div class="detail-section" *ngIf="product.active==false" style="margin-top: 5.8%;margin-bottom: 37%">
  <div class="alert alert-warning col-md-12" role="alert">
    Product does not exist
  </div>
</div>

