<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Sales Volume</th>
      <th scope="col">Met Quota?</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let salesPerson of salesPersonList">
    <td>{{salesPerson.firstName}}</td>
    <td>{{salesPerson.lastName}}</td>
    <td>{{salesPerson.email}}</td>
    <td>{{salesPerson.salesVolume | currency:'USD'}}</td>
    <td>
      <div *ngIf="salesPerson.salesVolume >= 6000; else myElseBlock">Yes</div>
    </td>
    <ng-template #myElseBlock>No</ng-template>
  </tr>
  </tbody>
</table>
